.catalog {
    padding-bottom: 100px;
    &__title {
        font-weight: 400;
        font-size: 30px;
        line-height: 45px;
        color: #0D0D0D;
        text-align: center;
        text-transform: uppercase;
        padding: 0 20px;
    }
    &__tabs {
        list-style-type: none;
        margin-top: 46px;
        display: flex;
        justify-content: center;
        margin-bottom: 0;
        padding-left: 0;
    }
    &__tab {
        width: 222px;
        height: 52px;
        border: 2px solid #D0D0D0;
        font-weight: 400;
        font-size: 18px;
        line-height: 52px;
        text-align: center;
        text-transform: uppercase;
        color: #6B6B6B;
        transform: skewX(-25deg);
        margin: 0 5px;
        cursor: pointer;
        transition: .5s all;
        &:hover {
            box-shadow: 3px 3px 20px $main-color;
            border: none
        }
        div {
            transform: skewX(25deg);
        }
        &_active {
            color: #fff;
            background-color: $main-color;
            border: none;

        }
    }
    &__content {
        margin-top: 60px;
        display: none;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
        grid-template-rows: repeat(auto-fit, 1fr);
        row-gap: 19px;
        column-gap: 17px;
        &_active {
            display: grid;
        }
    }
    &-item {
        width: 300px;
        min-height: 440px;
        border: 2px solid #E8E8E8;
        overflow: hidden;
        &__img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            height: 200px;
            margin-top: 20px;
        }
        &__subtitle {
            margin: 15px;
            font-weight: 700;
            font-size: 16px;
            line-height: 25px;
            text-align: center;
        }
        &__descr {
            font-weight: 300;
            font-size: 14px;
            line-height: 22px;
            margin: 15px 26px 0;
            text-align: center;
        }
        &__link {
            font-weight: 500;
            font-size: 14px;
            line-height: 14px;
            color: $main-color;
            display: block;
            text-align: center;
            transition: .5s;
            border-bottom: 1px solid #E8E8E8;
            padding-bottom: 17px;
            width: 265px;
            margin: 10px auto 17px;
            &:hover {
                opacity: .7;
            }
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__prices {
            font-weight: 700;
            font-size: 20px;
            line-height: 20px;
            margin-left: 20px;
        }
        &__old-price {
            font-weight: 300;
            font-size: 14px;
            line-height: 14px;
            text-decoration-line: line-through;
            color: #555555;
        }
        &__price {
            font-weight: 700;
            font-size: 20px;
            line-height: 20px;
        }
        &__wrapper {
            width: calc(200% + 40px);
            display: flex;
        }
        &__content {
            width: 50%;
            margin-right: 20px;
            transform: translateX(-100%);
            transition: .5s all;
            &_active {
                transform: translateX(0%);
                margin-right: 0;
            }
        }
        &__list {
            width: 50%;
            margin-left: 0;
            transform: translateX(0%);
            transition: .5s all;
            margin-bottom: 0;
            list-style-type: none;
            &_active {
                transform: translateX(-100%);
                margin-left: 20px;
                padding-right: 15px;
            }
            li {
                font-weight: 300;
                font-size: 14px;
                line-height: 21px;
                color: #555555;
                position: relative;
                margin-bottom: 10px;
                &:before {
                    content: '';
                    position: absolute;
                    top: 8px;
                    left: -15px;
                    width: 5px;
                    height: 5px;
                    background-color: $main-color;
                }
                &:nth-child(5)::before {
                    background-color: #fff; 
                }
            }
        }
        &__back {
            position: absolute;
            // bottom: 17px;
            // right: 28px;
            bottom: -115px;
            right: 16px;
            border-bottom: 1px solid #E8E8E8;
            padding-bottom: 17px;
            width: 265px;
            font-weight: 500;
            font-size: 14px;
            line-height: 14px;
            color: $main-color;
            display: block;
            text-align: center;
            margin: 0;
            text-decoration: underline;
            &:hover {
                opacity: .7;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .catalog {
        &__tab {
            width: 200px;
        }
    }
}

@media screen and (max-width: 645px) {
    .catalog {
        &__title {
            font-size: 25px;
        }
        &__tab {
            width: 175px;
        }
    }
}

@media screen and (max-width: 545px) {
    .catalog {
        &__tabs {
            flex-direction: column;
            align-items: center;
            gap: 15px;
        }
        &__tab {
            width: 240px;
        }
        &-item {
            &__footer {
                padding-bottom: 20px;
            }
        }
    }
}